<!DOCTYPE html>
<html lang="en">
<head>
<title>Hello World</title>
<meta charset+"utf-8">
<style>
body { background-color: #e6e6fa; color: #191970; }
p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}
</body>
</html>
